<p-contextMenu #cm [model]="menuItems"></p-contextMenu>

<div class="card">
    <p-table [(contextMenuSelection)]="vehicleSelDetails" [contextMenu]="cm" dataKey="_id" [value]="arrayVehicles" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols" scope="">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicle>
            <tr [pContextMenuRow]="vehicle">
                <td>{{vehicle.plate | uppercase}}</td>
                <td>{{vehicle.type}}</td>
                <td>{{vehicle.datePlateImage | date:"dd-MM-yyyy, h:mm a"}}</td>
                <td>{{vehicle.identification}}</td>
                <td>{{vehicle.fullName}}</td>

                <td>{{vehicle.city}}</td>
                <td>{{vehicle.typeInfraction}}</td>
                <td>{{vehicle.valueOfTheFine | currency}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
